.main .wraper{
	padding-top:1px;
}
.topbanner{
	float:left;
	overflow:hidden;
	height:379px;
	width:936px;
	margin-top:8px;
	position:relative;
	zoom:1;
}
.topbanner .mover{
	width:93600px;
	position:relative;
	left:0;
	top:0;
}
.topbanner .mover li{
	height:379px;
	width:936px;
	float:left;
	overflow:hidden;
}
.topbanner .mover li img{
	width:936px;
	height:379px;
}
/*.topbanner .nav{
	position:absolute;
	left:50%;
	bottom:15px;
	*bottom:10px;
}
.topbanner .nav li{
	display:inline-block;
	*display:inline;
	height:10px;
	width:10px;
	margin:0 5px;
	background:transparent;
	overflow:hidden;
	zoom:1;
	box-shadow:0 0 3px rgba(64,64,64,.75);
	-moz-box-shadow:0 0 3px rgba(64,64,64,.75);
	-webkit-box-shadow:0 0 3px rgba(64,64,64,.75);
	-o-box-shadow:0 0 3px rgba(64,64,64,.75);
	-ms-box-shadow:0 0 3px rgba(64,64,64,.75);
}
.topbanner .nav a{
	display:block;
	height:10px;
	width:10px;
	margin:auto;
	overflow:hidden;
	text-align:center;
	background-color:#EAE9E9;
	opacity:0.8;
	-moz-opacity:0.8;
	filter:alpha(opacity=80);
}
.topbanner .nav .current a{
	background-color:#f60;
}
.topbanner .nav .navwraper {
	position:relative;
	height:10px;
	zoom:1;	
	width:160px;
	white-space:nowrap;
	left:-80px;
	text-align:center;
}*/
.topbanner .nav{
	position:absolute;
	left:-1px;
	width:937px;
	bottom:0;
	_bottom:-1px;
}
.topbanner .nav li{
	height:26px;
	float:left;
	width:20%;
	font-family:"microsoft yahei";
}
.topbanner .nav a{
	display:block;
	height:26px;
	margin-left:1px;
	overflow:hidden;
	line-height:26px;
	color:#fff;
	text-align:center;
	background-color:#80806c;
}
.topbanner .current a{
	color:#6d6d57;
	text-decoration:none;
}
.topbanner .nav .current a{
	background-color:rgba(255,255,255,.7);
	background-color:transparent\9;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#b3ffffff",EndColorStr="#b3ffffff");
}
.ie6 .topbanner .nav .current a,
.ie7 .topbanner .nav .current a,
.ie8 .topbanner .nav .current a{
	background-color:transparent;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#b3ffffff",EndColorStr="#b3ffffff");	
}
:root .topbanner .nav .current a{
	background-color:rgba(255,255,255,.7);
	filter:none;
}
.topbanner .nav .navwraper { 
	position: relative;
	left:0;
	width:940px;
	height:26px;
	overflow:hidden;
}
.topbanner .abtn{
	text-indent:0;
	width:34px;
	height:34px;
	text-align:center;
	color:#00448D;
	overflow:hidden;
	top:50%;
	margin-top:-17px;
	font:normal normal 26px/36px SimSun;
	line-height:38px\9;
	background-image:none;
	background-color:rgba(234,233,233,.7);
	background-color:transparent\9;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#b3eae9e9",EndColorStr="#b3eae9e9");	
	box-shadow:0 0 3px rgba(64,64,64,.75);
	-moz-box-shadow:0 0 3px rgba(64,64,64,.75);
	-webkit-box-shadow:0 0 3px rgba(64,64,64,.75);
	-o-box-shadow:0 0 3px rgba(64,64,64,.75);
	-ms-box-shadow:0 0 3px rgba(64,64,64,.75);
}
.noticePanel{
	float:right;
	width:256px;
	margin-top:8px;
}
.noticePanel .box{
	background-color:transparent;
}
.noticePanel .tit{
	height:62px;
	padding-left:0;
	background-color:transparent;
	line-height:60px;
	font-family:Microsoft Yahei;
	font-size:22px;
	color:#00448d;
	font-weight:bold;
	border-top:1px solid #aabed6;
	border-bottom:1px solid #aabed6;
}
.noticePanel .cont{
	color:#000;
	font-family:"microsoft yahei";
	font-size:15px;
	background-color:transparent;
	border-bottom:1px solid #aabed6;
}
.noticePanel .btn_joinSams{
	color:#00448d;
}
.noticePanel .btn_joinSams:hover{
	color:#1b549a;
}
.noticePanel .btn_memIntro{
	color:#49a512;
}
.noticePanel .btn_memIntro:hover{
	color:#4aac0f;	
}
.noticePanel .cont_prime{
	height:100px;
	padding:12px 0;
	overflow:hidden;
	margin-bottom:2px;
}
.noticePanel .cont_prime .linkline{
	margin-top:12px;
	padding-top:10px;
	font-size:20px;
	border-top:1px solid #dbe2ea;
	font-weight:bold;
}
.noticePanel .cont_prime .linkline a{
	margin-right:20px;
}
.noticePanel .cont_prime .corner{
	font-size:20px;
	font-family:SimSun;
	letter-spacing:-5px;
	margin:0 5px;
	font-weight:bold;
}
.noticePanel .cont_second{
	height:53px;
	padding:12px 0;
	overflow:hidden;
	margin-bottom:2px;
}
.noticePanel .cont_second a{
	color:#000;
}
.noticePanel .cont_second .corner{
	font-size:16px;
	font-family:SimSun;
	letter-spacing:-5px;
	margin:0 5px;
	font-weight:bold;
}
.noticePanel .cont_second .linkline {
	padding-top:5px;
}
.noticePanel .cont_second .linkline a{
	color:#49a512;
}
.noticePanel .cont_second .linkline a:hover{
	color:#4aac0f;	
}
.anounce {
	position:relative;
	height:42px;
	padding-left:0;
	background-color:transparent;
	border-top:1px solid #aabed6;
	border-bottom:1px solid #c3d0e0;
}
.anounce .slider{
	height:20px;
	width:200px;
	top:11px;
	overflow:hidden;
	position:relative;
}
.anounce .slider ul{
	position:relative;
	width:2000px;
}
.anounce li{
	float:left;
	width:200px;
	line-height:20px;
	overflow:hidden;
	text-overflow:ellipsis;
	color:#4e4e4e;
	font-size:14px;
	font-family:"microsoft yahei";
}
.anounce li a{
	color:#000;
}
.anounce .abtn{
	position:absolute;
	top:5px;
	display:inline-block;
	font:normal normal 24px/34px SimSun;
	color:#fff;
	text-align:center;
	width:24px;
	height:0;
	text-indent:-100px;
	padding:32px 0 0;
	overflow:hidden;
	background:url(../img/base/sprite_icon.png) 1px -2307px no-repeat;
}
.anounce .abtn:hover{
	opacity:.8;
	filter:alpha(opacity=80);
}
.anounce .aleft{
	left:auto;
	right:24px;
	background-position:1px -2307px;
}
.anounce .aleft:hover{}
.anounce .aright{
	right:1px;
	background-position:1px -2348px;
}
.anounce .aright:hover{}

.proPanel{
	width:936px;
	float:left;
	padding-bottom:15px;
}
.proPanel .prolist {
	width:936px;
	margin-top:-5px;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:0;
}
.proPanel .prolist li{
	position:relative;
	float:none;
	display:inline-block;
	*display:inline;
	vertical-align:top;
	width:308px;
	height:481px;
	margin-top:5px;
	background-color:#fff;
	overflow:hidden;
	zoom:1;
}
.proPanel .prolist .justify_fix{
	width:100%; 
	height:0; 
	overflow:hidden;
	margin:0;
	padding:0;
	font-size:0;
	line-height:0;
}
.proPanel .prolist .intro{
	position:relative;
	float:none;
	width:auto;
	height:auto;
	text-align:left;
	padding:0 20px;
}
.proPanel .prolist .title {
	height:30px;
}
.proPanel .prolist .title a{
	font:normal normal 16px/26px "Microsoft Yahei";
	color:#00418f;
}
.proPanel .prolist .prom{
	color:#777;
	height:38px;
	font-size:12px;
	overflow:hidden;
}
.proPanel .prolist .introBox{
	height:81px;
	margin:5px 10px 0;
	padding:6px;
	border:1px solid #a4cdff;
	overflow:hidden;
}
.proPanel .prolist .introBox .title{
	margin:4px 0 0 3px;
	height:38px;
	font-size:14px;	
}
.proPanel .prolist .introBox .title a{
	font-size:14px;
	line-height:18px;
}
.proPanel .prolist .promTit{
	float:right;
	width:25px;
	height:81px;
	margin-left:10px;
	color:#fff;
	font-size:16px;
	line-height:22px;
	background-color:#00418f;	
}
.proPanel .prolist .promTit td{
	vertical-align:middle;
	text-align:center;
	height:79px;
	padding-bottom:2px;
}
.proPanel .prolist .price{
	color:#45a712;
	font-size:26px;
	font-weight:normal;
	font-family:"microsoft yahei";
}
.proPanel .prolist .price sub{
	font-size:15px;
	vertical-align:baseline;
	position:static;
}
.proPanel .prolist .yen{
	color:#777;
}
.proPanel .prolist .unit{
	font-size:15px;
	color:#777!important;
	font-family:"Microsoft Yahei"!important;
	letter-spacing:0;
}
.proPanel .prolist .img{
	position:relative;
	float:none;
	width:308px;
	height:280px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:9px;
	padding-top:14px;
	background-color:#fff;
	overflow:hidden;
}
.proPanel .prolist .img img{
	display:block;
	position:static;
	top:20px;
	left:20px;
	width:280px;
	height:280px;
	transition:left 0.8s,opacity 0.8s;
	-ms-transition:left 0.8s,opacity 0.8s;
	-webkit-transition:left 0.8s,opacity 0.8s;
	-moz-transition:left 0.8s,opacity 0.8s;
	-o-transition:left 0.8s,opacity 0.8s;
}
.proPanel .prolist .img img.hover{
	/*left:15px;*/
	opacity:0.8;
	filter:alpha(opacity=90);
}
.proPanel .prolist .alink{
	position:absolute;
	display:block;
	left:0;
	top:0;
	width:308px;
	height:481px;
	z-index:1;
}
.proPanel .prolist .alink a{
	display:block;
	overflow:hidden;
	width:100%;
	height:100%;
	background:url(../img/base/spacer.gif);
}
.proPanel .prolist li.hoverli .introBox{
	border-color:#00418f;
	background-color:#00418f;
	transition:background-color 0.8s, border-color 0.8s;
	-ms-transition:background-color 0.8s, border-color 0.8s;
	-webkit-transition:background-color 0.8s, border-color 0.8s;
	-moz-transition:background-color 0.8s, border-color 0.8s;
	-o-transition:background-color 0.8s, border-color 0.8s;
}
.proPanel .prolist li.hoverli .introBox .title a,
.proPanel .prolist li.hoverli .introBox .price,
.proPanel .prolist li.hoverli .introBox .unit,
.proPanel .prolist li.hoverli .introBox .yen{
	color:#fff!important;
}
.proPanel .prolist li.hoverli .introBox .promTit{
	background-color:#fff;
	color:#00418f;	
}
.iconProm{
	position:absolute!important;
	top:0;
	right:0;
}
.iconProm .icon{
	display:block;
	width:56px!important;
	height:56px!important;
	right:0!important;
	overflow:hidden;
	text-indent:-200px;
	/*background-image:url(../img/base/promicon.png)!important;
	_background-image:url(../img/base/promicon_8bit.png)!important;	*/
}
.iconProm .icon img{
	position:static!important;
	left:0!important;
	top:0!important;
	background-color:transparent;
	transition:none;
	-ms-transition:none;
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
}
.iconProm .icon img.hover{
	opacity:1!important;
	filter:alpha(opacity=100)!important;
}
.iconProm .promA{
	background-position:0 0!important;	
}
.iconProm .promB{
	background-position:0 -58px!important;	
}
.iconProm .promC{
	background-position:0 -115px!important;	
}

.sideAd{
	width:256px;
	float:right;
}
.sideAd .inner{
	margin-top:-32px;
}
.sideAd .adbox{
	position:relative;
	margin-top:32px;
	background-color:#ffffff;
}

/* Hot: Start*/
.tabSection_hot{
	position:relative;
	zoom:1;
	padding-top:7px;
	padding-left:0;
	font-family:"microsoft yahei";
	overflow:hidden;
}
.tabSection_hot .cpt{
	position:absolute;
	left:0;
	top:0;
	height:43px;
	width:256px;
	margin-left:0;
	background-color:transparent;
	border-bottom:2px solid #c3d0e0;
	padding:0;
}
.tabSection_hot .tit{
	line-height:30px;	
	font-size:26px;
	font-weight:normal;
	color:#00418f;
	display:inline;
}
.tabSection_hot .titEn{
	display:inline;
	font-size:24px;
	margin-left:3px;
	color:#aaa;
}
.tabSection_hot .leftCol{
	float:left;
	width:256px;
	height:348px;
	padding:0;
	zoom:1;
	overflow:hidden;
}
.tabSection_hot .proCont{
	float:right;
	position:relative;
	width:936px;
	zoom:1;
	background-color:transparent;
	padding-bottom:1000px;
	margin-bottom:-1000px;
}
.tabSection_hot .tab{
	position:absolute;
	top:45px;
	width:256px;
	margin-left:-284px;
}
.tabSection_hot .tab .tabitem{
	display:block;
	position:relative;
	height:54px;
	padding:15px 0 0 7px;
	border-bottom:1px solid #c3d0e0;	
	zoom:1;
	cursor:pointer;
}
.tabSection_hot .tab .cate1{
	color:#00448d;
	font-size:16px;
	line-height:20px;	
	width:251px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.tabSection_hot .tab .cate2{
	padding-top:1px;
	height:20px;
	font-size:14px;
	width:251px;
	white-space:normal;
	overflow:hidden;
	text-overflow:ellipsis;
}
.tabSection_hot .tab .cate2,
.tabSection_hot .tab .cate2 a{
	color:#a9a9a9;
}
.tabSection_hot .tab .arrow{
	position:absolute;
	display:none;
	right:0;
	top:17px;
	width:25px;
	height:42px;
	background:#f4f4f4 url(../img/base/sprite_icon.png) 2px -2395px no-repeat;	
}
.tabSection_hot .tab .now{
	background-color:#639B1B;
}
.tabSection_hot .tab .now .cate1,
.tabSection_hot .tab .now .cate2{
	width:225px;
	color:#fff;
}
.tabSection_hot .tab .now .cate2 a{
	color:#fff;
}
.tabSection_hot .tab .now .cate2 a:hover{
	text-decoration:underline;
}
.tabSection_hot .tab .now .arrow{
	display:inline-block;
	background-position:2px -2455px;
	background-color:#639B1B;
}
.tabSection_hot .tab .ad{
	margin-top:23px;
}
.tabSection_hot .tabc{
	min-height:700px;
	_height:700px;
	padding-top:1px;
}
.tabSection_hot .prolist {
	width:936px;
	margin-top:-10px;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:0;
}
.tabSection_hot .prolist li{
	position:relative;
	float:none;
	display:inline-block;
	*display:inline;
	vertical-align:top;
	width:231px;
	height:337px;
	margin-top:10px;
	background-color:#fff;
	overflow:hidden;
	zoom:1;
}
.tabSection_hot .prolist .justify_fix{
	width:100%; 
	height:0; 
	overflow:hidden;
	margin:0;
	padding:0;
	font-size:0;
	line-height:0;
}
.tabSection_hot .prolist .introBox{
	height:64px;
	margin:24px 10px 0;
	padding:6px;
	border:1px solid #a4cdff;
	overflow:hidden;
	background-color:#fff;
}
.tabSection_hot .prolist .introBox .title{
	margin:2px 0 0 1px;
	height:30px;
	font-size:12px;
	line-height:14px;	
}
.tabSection_hot .prolist .introBox .title a{
	font-size:12px;
	line-height:14px;
	color:#000;
}
.tabSection_hot .prolist .promTit{
	float:right;
	width:25px;
	height:64px;
	margin-left:10px;
	color:#fff;
	font-size:13px;
	line-height:16px;
	background-color:#00418f;	
}
.tabSection_hot .prolist .promTit td{
	vertical-align:middle;
	text-align:center;
	height:62px;
	padding-bottom:2px;
}
.tabSection_hot .prolist .price{
	color:#000;
	font-size:26px;
	font-weight:bold;
	margin-top:0;
	font-family:"microsoft yahei";
}
.tabSection_hot .prolist .price sub{
	font-size:15px;
	vertical-align:baseline;
	position:static;
	font-weight:normal;
}
.tabSection_hot .prolist .yen{
	color:#000;
	font-weight:normal;
}
.tabSection_hot .prolist .unit{
	font-size:15px;
	color:#000!important;
	font-family:"Microsoft Yahei"!important;
	letter-spacing:0;
	font-weight:normal;
}
.tabSection_hot .prolist .img{
	position:relative;
	float:none;
	width:220px;
	height:220px;
	margin-left:auto;
	margin-right:auto;
	padding-top:5px;
	background-color:#fff;
	overflow:hidden;
}
.tabSection_hot .prolist .img img{
	display:block;
	width:220px;
	height:220px;
	transition:left 0.8s,opacity 0.8s;
	-ms-transition:left 0.8s,opacity 0.8s;
	-webkit-transition:left 0.8s,opacity 0.8s;
	-moz-transition:left 0.8s,opacity 0.8s;
	-o-transition:left 0.8s,opacity 0.8s;
}
.tabSection_hot .prolist .img img.hover{
	/*left:15px;*/
	opacity:0.8;
	filter:alpha(opacity=90);
}
.tabSection_hot .prolist .alink{
	position:absolute;
	display:block;
	left:0;
	top:0;
	width:231px;
	height:337px;
	z-index:1;
}
.tabSection_hot .prolist .alink a{
	display:block;
	overflow:hidden;
	width:100%;
	height:100%;
	background:url(../img/base/spacer.gif);
}
.tabSection_hot .prolist li.hoverli .introBox{
	border-color:#00418f;
	background-color:#00418f;
	transition:background-color 0.8s, border-color 0.8s;
	-ms-transition:background-color 0.8s, border-color 0.8s;
	-webkit-transition:background-color 0.8s, border-color 0.8s;
	-moz-transition:background-color 0.8s, border-color 0.8s;
	-o-transition:background-color 0.8s, border-color 0.8s;
}
.tabSection_hot .prolist li.hoverli .introBox .title a,
.tabSection_hot .prolist li.hoverli .introBox .price,
.tabSection_hot .prolist li.hoverli .introBox .unit,
.tabSection_hot .prolist li.hoverli .introBox .yen{
	color:#fff!important;
}
.tabSection_hot .prolist li.hoverli .introBox .promTit{
	background-color:#fff;
	color:#00418f;	
}

/* Hot: End*/

/* Different Sams Club */
.tabSection{
	position:relative;
	zoom:1;
	padding-left:0;
	font-family:"microsoft yahei";
	background-color:#fff;
	overflow:hidden;
}
.tabSection .cpt{
	position:static;
	height:120px;
	width:auto;
	margin-left:0;
	text-align:center;
	background-color:#f4f4f4;
	color:#b3d69e;
	padding:0;
}
.tabSection .tit{
	line-height:100px;	
	font-size:44px;
	font-weight:normal;
	color:#b3d69e;
	display:inline;
}
.tabSection .titEn{
	display:inline;
	font-size:32px;
	margin-left:8px;
}
.tabSection .leftCol{
	float:left;
	border-top:5px solid #00418f;
	width:285px;
	padding:220px 0 40px;
	zoom:1;
	overflow:hidden;
}
.tabSection .bin_code{
	border-top:2px solid #b2c6dd;
	margin:0 30px 0 21px;
	padding-top:36px;
	zoom:1;
}
.tabSection .bin_code li{
	float:left;
	width:117px;
	height:118px;
	text-align:center;
}
.tabSection .bin_code li img{
	display:block;
	margin:0 auto;
}
.tabSection .bin_code li p{
	font-size:13px;
	color:#00448d;
}
.tabSection .official_weibo{
	position:static;
	border-top:2px solid #b2c6dd;
	margin:0 30px 0 21px;
	padding-top:25px;
	padding-bottom:25px;
	background-color:#fff;
}
.tabSection .official_weibo h4,
.tabSection .official_weibo h4 a{
	font-size:25px;
	color:#000;
	font-weight:normal;
}
.tabSection .official_weibo h4 span{
	display:block;
	font-size:15px;
	color:#8b8b8b;
	font-family:Arial;
}
.tabSection .official_weibo .cont{
	padding-top:10px;
	font-size:14px;
	line-height:22px;
	color:#000;
	text-align:justify;
	text-justify:inter-ideograph;
}

.tabSection .weibo_comment{
	float:right;
	position:relative;
	width:935px;
	zoom:1;
	background-color:#f4f4f4;
	padding-bottom:1000px;
	margin-bottom:-1000px;
}
.tabSection .tab{
	position:absolute;
	top:15px;
	width:285px;
	margin-left:-285px;
	overflow:hidden;
}
.tabSection .tab a{
	display:block;
	position:relative;
	margin:-1px 30px 0 21px;
	border-top:1px solid #b2c6dd;
	line-height:68px;
	font-size:25px;
	color:#7ea2c8;
	padding-left:4px;
	zoom:1;
}
.tabSection .tab a.now,
.tabSection .tab a:hover{
	color:#49a512;
}
.tabSection .tab .corner{
	position:absolute;
	color:#3a6fa7;
	font-size:16px;
	font-family:SimSun;
	letter-spacing:-6px;
	margin:0;
	font-weight:bold;
	display:none;
	right:-30px;
	top:18px;
	border:18px solid #fff;
	border-right-color:#f4f4f4;
	height:0;
	width:0;
	overflow:hidden;
}
.tabSection .tab a.now .corner,
.tabSection .tab a:hover .corner{
	display:block;
}
.tabSection .tabc{
	min-height:707px;
	_height:707px;
	background-color:#f4f4f4;
	padding-top:1px;
	position:relative;
	padding-bottom:85px;
	zoom:1;
}
.tabcInner{
	overflow:hidden;
	padding:0 100px 0 0;
	margin:4px 0 0 40px;
	border-top:1px solid #aabed6;
	zoom:1;
}
.weibo_comment .pageNavWrap{
	position:absolute;
	width:895px;
	height:84px;
	bottom:0;
	border-bottom:1px solid #aabed6;
	padding:0;
	_width:auto;
	_height:auto;
	_position:static;
	_border-top:1px solid #dbe2ea;
	_border-bottom:none;
	_margin-top:85px;
}
.weibo_comment .pageNavWrapInner{
	margin-right:100px;
	padding-top:28px;
	border-top:1px solid #dbe2ea;
	_position:absolute;
	_height:55px;
	_border-top:none;
	_border-bottom:1px solid #aabed6;
	_margin-right:0;
	_right:0;
	_width:100%;
	_padding-right:100px;
}
.weibo_comment .pageNav{
	margin-right:-100px;
	_position:relative;	
}
.weibo_comment .pageNav a{
	padding: 0 7px;
	color:#666;
	border-color:#c6c6c6;
}
.weibo_comment .pageNav a:hover{
	background-color:#7eaf40;
	color:#fff;	
	border-color:#c6c6c6;
}
.weibo_comment .pageNav a.curr{
	background-color:#7eaf40;
	color:#fff;	
}
.weibo_comment .pageNav a.next, 
.weibo_comment .pageNav a.pre{
	background-color:transparent !important;
	border-color:#f4f4f4 !important;
	color:#000;
}
.weibo_comment .pageNav a.next:hover, 
.weibo_comment .pageNav a.pre:hover{
	color:#7eaf40;
}
.weibo_comment .pageNav a.preDisable, 
.weibo_comment .pageNav a.nextDisable{
	color:#999!important;
}
.comment{
	margin-top:-1px;
	padding-left:68px;
	padding-top:20px;
	padding-bottom:20px;
	border-top:1px solid #dbe2ea;
}
.comment dt{
	position:absolute;
	width:50px;
	display:block;
	margin-left:-68px;
	margin-top:5px;	
}
.comment dd .cTitWrap{
	position:relative;
	zoom:1;
	width:505px;
	padding-right:30px;
	max-height:42px;
	overflow:hidden;
	margin-bottom:10px;
	transition:width 0.8s, max-height 0.8s;
	-ms-transition:width 0.8s, max-height 0.8s;
	-webkit-transition:width 0.8s, max-height 0.8s;
	-moz-transition:width 0.8s, max-height 0.8s;
	-o-transition:width 0.8s, max-height 0.8s;
}
* html .comment dd .cTitWrap {
	_max-height:expression(this.style.height=(this.childNodes[0].offsetHeight>44)?"42":"auto");
}
* html .comment dd .cTitWrap_expand {
	_max-height:expression(this.style.height="auto");
}
.comment dd .cTitle{
	width:505px;
	overflow:hidden;
	word-wrap:break-word;
	color:#333;
	font-size:14px;
}
.comment dd .cTitle ins{
	color:#092f6d;
	white-space:nowrap;
	text-decoration:none;
}
.comment dd .cTitle a,
.comment dd .cTitle ins a{
	color:#00448D;
}
.comment .cTitWrap .tit_toggler{
	position:absolute;
	bottom:0;
	right:0;
	height:21px;
	display:inline-block;
	width:21px;
	text-align:right;
	background-color:#fff;
	transition:bottom 0.8s;
	-ms-transition:bottom 0.8s;
	-webkit-transition:bottom 0.8s;
	-moz-transition:bottom 0.8s;
	-o-transition:bottom 0.8s;
}
.comment .cTitWrap .tit_toggler_hidden{
	bottom:-30px;
}
.comment .cTitWrap .tit_expand,
.comment .cTitWrap .tit_collapse{
	display:inline-block;
	height:21px;
	width:21px;
	cursor:pointer;
	background-image:url(../img/base/expand_icon.png);
	background-repeat:no-repeat;
}
.comment .cTitWrap .tit_expand{
	background-position:right top;
}
.comment .cTitWrap .tit_expand:hover{
	background-position:right -81px;
}
.comment .cTitWrap .tit_collapse{
	background-position:right -39px;
}
.comment .cTitWrap .tit_collapse:hover{
	background-position:right -120px;
}
.comment .cTitWrap_expand{
	width:605px!important;
}
.comment .cTitWrap_expand .cTitle{
	width:605px!important;
}
.comment dd .cmer{
	color:#333;
}
.comment .piclist{
	margin-left:-5px;
	padding-top:20px;
	width:630px;
	overflow:hidden;
	zoom:1;
}
.comment li .pic_list {
	width:10000px;
	overflow:hidden;
}
.comment li .pic_list li{
	float:left;
	_display:inline;
	height:100px;
	overflow:hidden;
	margin:0 0 5px 0;
	padding-left:5px;
	position:relative;
	zoom:1;
}
.comment li .pic_list img{
	display:block;
	cursor:pointer;
	max-height:100px;
	max-width:100px;
	transition:max-width 0.6s, max-height 0.6s;
	-ms-transition:max-width 0.6s, max-height 0.6s;
	-webkit-transition:max-width 0.6s, max-height 0.6s;
	-moz-transition:max-width 0.6s, max-height 0.6s;
	-o-transition:max-width 0.6s, max-height 0.6s;
}
.comment li .pic_list img.thumbimg{
	max-height:100px!important;
	max-width:100px!important;
}

* html .comment li .pic_list img{
	_max-height:expression(this.style.height=(this.parentNode.offsetHeight>=100)?"100":"auto");
	_max-width:expression(this.style.width=(this.parentNode.offsetWidth>=100)?"100":"auto");
}
* html .comment li .pic_list img.ie6_auto_img{
	_max-height:expression(this.runtimeStyle.maxHeight=100,this.style.height="auto");
	_max-width:expression(this.runtimeStyle.maxWidth=100);/*Dont modify this*/
}

.comment li .pic_list img:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
}
.comment li .pic_list li.bigpic{
	height:auto;
	max-width:605px;
}
.comment .pic_list li.bigpic img{
	max-width:605px;
	max-height:20000px;
}
.comment li .pic_list .tip{
	position:absolute;
	right:0;
	bottom:0;
	left:5px;
	overflow:hidden;
	padding-right:25px;
	padding-left:5px;
	height:23px;
	line-height:22px;
	z-index:1;
	cursor:pointer;
	color:#000;
	opacity:0.8;
	filter:alpha(opacity=80);
	background:#f2f2f2 url(../img/base/expand_icon.png) right 1px no-repeat;
	/*_width:expression(this.parentNode.offsetWidth-35);*/
	_width:100%;
	_padding-left:0;
	_padding-right:0;
	_text-indent:5px;
}
.comment li .pic_list .tip_collpase{
	background-position:right -38px;	
}



.pop_fresh_v2{dispaly:block;top:0;left:0;width:618px;height:351px; background-color:transparent;}
.pop_fresh_v2 h4{position:absolute; height:58px; text-indent:-1000px; overflow:hidden;}
.pop_fresh_v2 .freshc{ padding-top:11px; padding-left:16px; width:602px;height:340px;background:url(../img/base/bg_fresh_v2.png) 0 0 no-repeat;}
.pop_fresh_v2 .freshc p{font-size:18px; font-family:"microsoft yahei";}
.pop_fresh_v2 .freshc a{display:block; padding-top:1px; font-family:"microsoft yahei"; margin-top:9px; font-size:18px; line-height:34px; color:#fff; text-align:center;text-shadow:1px 1px 1px rgba(30,25,22,1);}
.pop_fresh_v2 .memberyet{color:#b6d5f6; padding-top:132px; padding-left:21px; width:294px;}
.pop_fresh_v2 .memberyet a{height:39px; width:243px;  background:url(../img/base/bg_fresh_v2.png) no-repeat -3px -427px;}
.pop_fresh_v2 .menbernot{color:#fff; padding-top:133px;}
.pop_fresh_v2 .menbernot a{height:86px; width:243px; font-size:28px; line-height:82px;  background:url(../img/base/bg_fresh_v2.png) no-repeat -2px -604px;}
.pop_fresh_v2 .shopsEntry {position:relative;zoom:1;}
.pop_fresh_v2 .shopsEntry .selectEntry { display:none;}
.pop_fresh_v2 .shopsEntry .shuter { display:none; position:absolute; width:222px; padding:5px 0 12px 22px;background:url(../img/base/bg_fresh_v2.png) no-repeat -373px bottom;}
.pop_fresh_v2 .shopsEntryUp .shuter {bottom:39px;_bottom:38px; padding:10px 0 6px 22px; background-position:-374px -421px;}
.pop_fresh_v2 .over .opener { display:none;}
.pop_fresh_v2 .over .selectEntry { display:block; background-position: -3px -557px;}
.pop_fresh_v2 .over .selectEntryUp {background-position: -3px -470px;}
.pop_fresh_v2 .over .shuter { display:block;}
.pop_fresh_v2 .menbernot .over .selectEntry {background-position: -2px -698px;}
.pop_fresh_v2 .menbernot .shuter {background-position: -624px bottom;}
.pop_fresh_v2 .shuter a { display:inline-block; width:auto; height:auto; font-family:"新宋体",SimSun; line-height:1.4; background:none; font-size: 14px; margin: 0 13px 2px 10px;} 
.pop_fresh_v2 .close {right:-10px;top:-15px;width:34px;height:34px; background-image:url(../img/base/btn_close_B.png);}


/* Float Survey */
.survey_v2 { position: absolute; right:0; top:400px; width:31px; height:210px; z-index:11; font-family:"microsoft yahei"; background: url(../img/base/survey_float.png) 0 0 no-repeat;}
.survey_v2 .surv,
.survey_v2 .feedback{ display:block; height:64px; width:31px; text-indent:-100px; overflow:hidden; }
.survey_v2 .surv{ height:88px;}
.survey_v2 .feedback{ height:102px; margin-top:10px;}
.survey_v2 .survey_panel_holder,
.survey_v2 .feedback_panel_holder{ position:absolute; right:32px; top:0; width:0; overflow:hidden;box-shadow:2px 2px 5px rgba(0,0,0,0.21);-moz-box-shadow:2px 2px 5px rgba(0,0,0,0.21);-webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.21);}
.survey_v2 .panel{ width:196px; overflow:hidden; }
.survey_v2 .survey_panel{border-top:3px solid #00448d;}
.survey_v2 .feedback_panel{border-top:3px solid #639b1b;}
.survey_v2 .panel .inner{ min-height:187px;_height:187px;border:1px solid #b6b6b6; border-top:none; padding-top:19px; background:#f4f4f4 url(../img/base/survey_dec.png) 0 0 no-repeat;}
.survey_v2 .panel .listwrap{ padding:0 15px; zoom:1; overflow:hidden;}
.survey_v2 .panel ul{ margin-top:-1px;}
.survey_v2 .panel li{padding:10px 0; border-top:1px solid #cecece;}
.survey_v2 .panel li a{ color:#676767;}
.survey_v2 .panel li a:hover { color:#00448d;}
.survey_v2 .feedback_panel .form{
	padding-top:15px;
}
.survey_v2 .feedback_panel .form .item{
	padding-bottom:12px;
}
.survey_v2 .feedback_panel .form .btnline{
	padding-top:5px;
	text-align:center;
}
.survey_v2 .feedback_panel .intxt,
.survey_v2 .feedback_panel .inarea{
	border-color:#C1C1C1 #DCDCDC #DCDCDC #C1C1C1;
	border-style:solid;
	border-width:1px;
	background-color:#fff;
	resize:none;
	width:156px;
	padding:4px;
}
.survey_v2 .feedback_panel .inarea{
	height:72px;
	overflow-y:auto;
}
.survey_v2 .feedback_panel .btn_sub_feedback{
	display:inline-block;
	width:50px;
	line-height:20px;
	color:#fff;
	text-align:center;
	background-color:#00448D;
	border-radius:2px;
}

.theme_CNY_2013 .topbanner .nav a{
	background-color:#dd0418;
}
.theme_CNY_2013 .topbanner .current a{
	background-color:#fefdfd;
}
.popDownloadAPP{
	position:fixed;
	background:#fff;
	top:0;
	bottom:0;
	left:0;
	right:0;
	color:#666;
	z-index:1001;
}
.popDownloadAPP .inner{
	padding:1.2em;
}
.popDownloadAPP h3{
	font-size:1.2em;
	margin-bottom:1em;
}
.popDownloadAPP h4{
	font-size:1em;
}
.popDownloadAPP .btnline{
	padding:1em 0;
}
.popDownloadAPP .btnLink{
	display:inline-block;
	border-radius:2px;
	background-color:#00418f;
	margin-right:1em;
}
.popDownloadAPP .btnLink:hover{
	background-color:#075fc8;
}
.popDownloadAPP .btnLink img{
	width:11em;
	display:block;
}
@media screen and (min-width:1024px){
	.popDownloadAPP h3{
		font-size:2.5em;
	}
	.popDownloadAPP h4{
		font-size:2em;
	}
	.popDownloadAPP .btnLink img{
		width:20em;
	}
}


